<div class="container">
    <div class="left">
        <img src="https://i.postimg.cc/sDWrbXdC/logo.png" alt="medhead logo" id="logo">
        <div class="loginFormContainer">
            <h2>Connectez-vous à votre compte</h2>
            <form [formGroup]="loginForm" class="loginForm">
                <mat-form-field appearance="fill">
                    <mat-label>Nom d'utilisateur</mat-label>
                    <input type="text" placeholder="Nom d'utlisateur" matInput formControlName="username">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Mot de passe</mat-label>
                    <input type="password" matInput placeholder="Mot de passe" formControlName="password" />
                </mat-form-field>
                <mat-checkbox class="example-margin"
                  [checked]="false"

                  (change)="rememberMe($event.checked)">
                Rester connecté
    </mat-checkbox>
                <button mat-button class="primary" (click)="login()">Se connecter</button>

            </form>
        </div>

    </div>

    <div class="right">
        <img src="https://i.postimg.cc/Wp005GWG/login-Screen-Icon.png">
    </div>
</div>