.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    overflow: hidden;
}

.right {
    background-color: #2f8c93;
    display: flex;
    justify-content: center;
    align-items: center;
}


#logo {
    width: 10vw;
    height: 10vw;
    margin: 1em;
}

.left {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

.loginFormContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid lightblue;
    padding: 1em;

}

.loginForm {
    display: flex;
    flex-direction: column;
}