.container {

    max-width: 90vw;
    margin: auto;
    margin-top: 1em;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.left {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.tile {

    border: 1px solid teal;
    padding: 2em;
    border-radius: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
    cursor: pointer;
    margin: 1em;
}

.tile:hover {
    background-color: #cff4d2;

}