.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    max-width: 90vw;
    margin: auto;
    grid-gap: 1em;
    margin-top: 1em;
}

.tile {

    border: 1px solid teal;
    ;
    padding: 2em;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
    cursor: pointer;
}

.tile:hover {
    background-color: #cff4d2;

}