.container {
    display: flex;
    flex-direction: row;
    height: 8vh;
    background: rgb(66, 77, 107);
    background: linear-gradient(180deg, rgba(66, 77, 107, 1) 0%, rgba(29, 44, 79, 1) 100%);
    justify-content: flex-end;

}

.menuItem {
    margin: 0.5em 2em;
    transition: all 0.2s;
    color: white;
    cursor: pointer;
}

.menuItem:hover {
    border-bottom: 3px solid #7ae495
}