.container {
    max-width: 80vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2em;
}


.notification {
    margin: 1em;
    color: rgb(241, 113, 113);
    border: 1px solid red;
    border-radius: 0.3em;
    padding: 1em;
    cursor: pointer;
    transition: all 0.2s;
}

.notification:hover {
    background-color: rgb(241, 113, 113);
    color: white;
}


.results {
    width: 100%;
}

table {
    border-collapse: collapse;
    margin: 1em;

}

tr {
    transition: all 0.2s;
    padding: 4em;
}


tr+tr {
    border-top: 1px solid teal;
}

tr:hover {
    background-color: #cff4d2;
    cursor: pointer;
}