<div class="container">
    <h1>URGENCES</h1>
    <h3>Sélectionnez le cas d'urgence dans la liste ci dessous et vous serew dirigé vers l'hôpital
        le plus proche en capacité d'accueil
    </h3>

    <div class="loading" *ngIf="isLocationLoading">
        <mat-spinner diameter="50"></mat-spinner>
    </div>
    <div class="body" *ngIf="!isLocationLoading">
        <div class="left">
            <!-- <iframe class="carte" [src]="mapLink"></iframe>-->

            <div class="location" *ngIf="currentPosition">
                <fa-icon [icon]="faLocation" class="icon"></fa-icon> Votre position: {{currentPosition}}
            </div>

            <div class="emergencyFormContainer">
                <form class="emergencyForm" [formGroup]="emergencyForm">
                    <mat-form-field appearance="fill">
                        <mat-label>Nom du patient</mat-label>
                        <input type="text" placeholder="nom" matInput formControlName="patient">
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Spécialité</mat-label>
                        <input type="text" matInput formControlName="specialite" [matAutocomplete]="specAuto">
                        <mat-autocomplete #specAuto="matAutocomplete">
                            <mat-option *ngFor="let option of specOptions" [value]="option.name">
                                {{option.name}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>

                    <button mat-button class="rechercher" (click)="getRecommandations()">Rechercher</button>
                </form>
            </div>
        </div>

        <div class="right" *ngIf="recommandations.length > 0">
            <h1>Le centre le plus proche est {{recommandations[0].hopital.name}}</h1>
            <iframe class="carte" [src]="mapLink"></iframe>

        </div>
    </div>

</div>