<app-hopital-menu></app-hopital-menu>
<div class="container">
    <div class="loading" *ngIf="isLoading">
        <mat-progress-spinner diameter="50"></mat-progress-spinner>
    </div>
    <div class="left" *ngIf="!isLoading">
        <div class="addBedFormContainer">
            <h2>Ajouter un nouveau lit</h2>
            <div class="imgContainer">
                <img src="https://i.postimg.cc/kGDfktMX/addBed.png" alt="">
            </div>
            <form class="addBedForm" [formGroup]="addBedForm">
                <mat-form-field appearance="fill">
                    <mat-label>Spécialité</mat-label>
                    <input type="text" matInput formControlName="specialite" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option of specOptions" [value]="option.name">
                            {{option.name}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Nombre de lits</mat-label>
                    <input type="number" min="1" placeholder="Nombre" matInput formControlName="nombre" />
                </mat-form-field>

                <button class="ajouter primary" (click)="addLit()" mat-button>Ajouter</button>
            </form>
        </div>

    </div>
    <div class="right">


        <div class="getListFormContainer">
            <h2>Afficher les lits par spécialité</h2>
            <form [formGroup]="getBedForm" class="getBedForm">
                <mat-form-field appearance="fill">
                    <mat-label>Spécialité</mat-label>
                    <input type="text" matInput formControlName="spec" [matAutocomplete]="bedListSpecAutoComplete">
                    <mat-autocomplete #bedListSpecAutoComplete="matAutocomplete">
                        <mat-option *ngFor="let option of specOptions" [value]="option.name">
                            {{option.name}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <button (click)="getListBySpecAndHopital()" class="primary ok" mat-button>Ok</button>
            </form>
        </div>


        <div class="numbers" *ngIf="getBedForm.valid">
            <div class="total">
                Nombre de lits : {{lits.length}}
            </div>
            <div class="disponibles">Nombre de lits disponibles: {{litsLibreBySpecCount}}</div>
        </div>

        <div class="hint" *ngIf="!(getBedForm.valid)">
            Sélectionnez une spéciaité pour afficher les lits
        </div>



    </div>
</div>