<app-hopital-menu>
</app-hopital-menu>

<div class="container">


    <div class="loading" *ngIf="isAddFormLoading">
        <mat-spinner diameter="60"></mat-spinner>
    </div>
    <div class="addSpecFormContainer" *ngIf="!isAddFormLoading">
        <h2>Sélectionnez les spécialités prises en charge au sein de votre centre</h2>
        <img src="https://i.postimg.cc/d1nf0zH1/ajouter-Spec-To-Hopital.png" />
        <form [formGroup]="addSpecForm" class="addSpecForm">
            <mat-form-field appearance="fill">
                <mat-label>Groupe de spécialités</mat-label>
                <mat-select (valueChange)="getSpecByGroupeID($event)">
                    <mat-option *ngFor="let group of groupesOptions" [value]="group.groupeID">
                        {{group.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Spécialités disponibles</mat-label>
                <mat-select (valueChange)="selectSpec($event)">
                    <mat-option *ngFor="let spec of specialiteOptions" [value]="spec.id">
                        {{spec.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <button class="ajouter" class="primary" mat-button (click)="addSpec()"> Ajouter</button>
        </form>
    </div>

    <div class="specsList">
        <h2>Liste des spécialités prises en charge</h2>

        <div class="specLine" *ngFor="let spec of specialitesHopital">
            <div class="key">Spécialité: </div>
            <div class="value">{{spec.name}}</div>

            <div class="key">Groupe: </div>
            <div class="value">{{spec.groupe.name}}</div>

            <button mat-button class="retirer warn" (click)="deleteSpec(spec.id)">Retirer</button>
        </div>


    </div>

</div>