.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 1em;
    padding: 2em;
    justify-content: center;
    margin: 1em;
}

img {
    width: 15vw;
}

.addSpecFormContainer {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    border: 1px solid #55c595;
    border-radius: 0.3em;
    padding: 1em;
}


.addSpecForm {
    display: grid;
    flex-direction: column;
    width: 100%;
}

.specLine+.specLine {
    border-top: 1px solid #359d9e;
}

.specLine {
    padding: 0.5em;
    transition: all 0.2s;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
}

.value {
    font-weight: bold;
}

.specLine:hover {
    background-color: #cff4d2;
}