/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Roboto');

html,
body {
    height: 100%;
    font-family: 'Roboto';
    color: var(--text-color);
    margin: 0;
    --header-color: #D1DFB7;
    --sidebar-color: #FAE6BE;
    --text-color: #215273;
    color: #215273;
}

h2 {
    color: #008080;
    border-bottom: 1px solid #008080;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.primary {
    color: #008080;
    background-color: white;
    border: 1px solid #008080 !important;
    transition: all 0.2s;

}

.warn {
    color: rgb(241, 113, 113);
    border: 1px solid rgb(241, 113, 113) !important;

}

.warn:hover {
    background-color: rgb(241, 113, 113);
    ;
    color: white;
}


button:disabled {
    background-color: lightgray;
    color: gray;
    cursor: not-allowed;

}


button:disabled:hover {
    background-color: lightgray;
    color: gray;
    cursor: not-allowed;

}

.primary:hover {
    background-color: #008080;
    color: white;
}

.icon {
    margin-right: 0.5em;
}

.loading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.hint {
    color: #d3d3d3;
}