.container {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    max-width: 95vw;
    margin: auto;


}

.body {
    display: grid;
    grid-template-columns: 1fr 1fr;

}



.searchResults {
    margin: 1em;
}

.addressLine {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 0.5em;

}

.selectionner {
    margin-top: 0.5em;
}

.addressLine+.addressLine {
    margin-top: 1em;
}

.addressLine:hover {
    background-color: #cff4d2;
    border-radius: 0.3em;
}

.hint {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    font-size: 2em;
    height: 60vh;
}


.map {
    width: 50vw;
    height: 100vh;
}

.searchFormContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #d9e7f7;
    margin: 1em;
    border-radius: 0.3em;
    padding-top: 1em;

}

.searchForm {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1em;
    justify-content: center;
    align-items: center;
}

h3 {
    margin: 0 1em;
    padding: 0;
}

.typeData {
    display: flex;
    flex-direction: row;
}

.value {
    margin-left: 1em;
}

.rechercher {
    border-radius: 0.3em;
}