<div class="container">

    <div class="connected" *ngIf="hopital">{{hopital.name}}</div>

    <div class="controls">
        <div class="menuItem" (click)="navigateToDashboard()">
            <fa-icon [icon]="faHome" class="icon"></fa-icon>
            Accueil
        </div>
      
        <div class="menuItem">
            <fa-icon [icon]="faHeartbeat" class="icon" (click)="navigateToSpecialites()"></fa-icon>Spécialités
        </div>

        
       

        <div class="menuItem" (click)="logout()">
            <fa-icon [icon]="faSignOut" class="icon"></fa-icon>Se déconnecter
        </div>
    </div>

</div>