<app-menu></app-menu>
<div class="container">

    <div class="top">
        <img src="https://i.postimg.cc/hGgqBhs9/ajouter-Specialite.png" />
        <div class="newGroupe">
            <app-groupe-spec></app-groupe-spec>
        </div>
        <div class="newSpec">
            <app-new-spec></app-new-spec>
        </div>
    </div>

    <div class="loading" *ngIf="isLoading">
        <mat-spinner diameter="50"></mat-spinner>
    </div>
    <div class="bottom" *ngIf="!isLoading">

        <div class="listeGroupes">
            <div class="groupLine" *ngFor="let groupe of groupes" id="{{groupe.groupeID}}"
                (click)="selectGroupe(groupe.groupeID)">
                {{groupe.name}}
            </div>
        </div>

        <div class="listeSpecialites">

            <div class="hint" *ngIf="specialites.length == 0">Selectionnez un groupe pour afficher les spécialités</div>

            <ul>
                <li class="specLine" *ngFor="let spec of specialites">

                    {{spec.name}}
                </li>
            </ul>

        </div>

    </div>


</div>